
@import "../../variables.scss";

.searchResult {
    width: 80%;
    background-color: var(--main-background-color);
    border-radius: 10px;
    @include main-box-shadow;
    padding: 30px;
    margin: 0 auto;

&__title {
    border-bottom: 2px solid var(--border-color) ;
    margin-bottom: 5px;
}}
@media screen and (min-width:720px){
    .searchResult {
        width: 40%;
    }
}