.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--border-color);
    position: relative;
    height: 55px;
    
}
.track {
    display: flex;
    max-width: 90%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

&__info {
    padding-left: 5px;
    
    
}

&__moveButton {
    color: var(--just-black) ;
    font-weight: bold;
    font-size: 18px;
    
    
}
&__album {
    display: flex;
    
}
&__albumImage {
    width: 50px;
    height: 50px;
    margin-bottom: 5px;
}   

&__playIcon {
    position: absolute;
    top: 10px;
    right: 10px;
}}