
@import "../../variables.scss";

.searchBar {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 15px;
    margin: 50px auto;

&__input {
    margin-bottom: 40px;
    height: 30px;
    text-align: center;
    font-size: 18px;
}
&__button {
    width: 40%;
    height: 30px;
    font-weight: bold;
    align-self: center;
    background-color: var(--buttons-color);
    border-radius: 15px;
    border: none;
    @include main-box-shadow;
    
}
}
@media screen and (min-width:720px){
    .searchBar {
    width: 20%;
}
}