@import "../../variables.scss";

.playlist {
    width: 80%;
    background-color:  var(--main-background-color);
    border-radius: 10px;
    @include main-box-shadow;
    padding: 30px;
    margin: 0 auto;
    position: relative;

&__button{
    
    margin: 0 auto;
    background-color: var(--buttons-color);
    border-radius: 15px;
    height: 30px;
    width: 40%;
    @include main-box-shadow ;
    font-weight: bold;
    display: block;
    
}
&__title {
    background-color: var(--background-transparent);
    font-size: 18px;
    border: 0;
    font-weight: bold;
    border-bottom: 2px solid var(--border-color);
    margin-bottom: 5px;
    color: var(--main-text-color);
    width: 100%;
}
}
@media screen and (min-width:720px) {
    .playlist {
        width: 25%;
    }
}